ejercicio12/src/main/app/ejercicio12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <imaps:connector name="IMAP" mailboxFolder="MULA" validateConnections="true" deleteReadMessages="false" checkFrequency="10000" doc:name="IMAP"/>
    <flow name="ejercicio12Flow">
        <imaps:inbound-endpoint host="imap.gmail.com" port="993" user="jamartinezmz%40gmail.com"  connector-ref="IMAP" responseTimeout="10000" doc:name="IMAP"/>
        <set-variable variableName="From" value="#[java.net.URLEncoder.encode(message.inboundProperties.From)]" doc:name="Variable"/>
        <set-variable variableName="Date" value="#[java.net.URLEncoder.encode(message.inboundProperties.Date)]" doc:name="Variable"/>
        <expression-transformer doc:name="Expression">
            <return-argument evaluator="attachments-list" expression="*"/>
        </expression-transformer>
        <collection-splitter doc:name="Collection Splitter"/>
        <set-variable variableName="NombreAdjunto" value="#[payload.name]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.NombreAdjunto!=null]">
                <file:outbound-endpoint path="C:\archivos" outputPattern="#[flowVars.NombreAdjunto]" responseTimeout="10000" doc:name="File"/>
                <logger message="#[flowVars.NombreAdjunto]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="No Hay Adjunto" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
